@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

span {
    font-size: 17px;
}

.top-row {
    height: 15px;
    width: 100%;
    background: #000000;
}

.divider {
    margin: 20px 0;
    /*height: 3px;*/
    /*background: #92acac;*/
}

.main-container {
    display: flex;
    justify-content: space-between;
}

.main-text {
    display: flex;
    align-items: center;
    width: 50%;
}

.portrait {
    width: 200px;
    height: 210px;
    position: absolute;
    right: 45px;
    top: -25px;
}

.portrait img {
    width: 200px;
    height: 210px;
    aspect-ratio: 0.88;
    image-rendering: optimizeQuality;
    image-resolution: from-image;
    /*border: 1px solid #7d7d7d;*/
}

a {
    text-decoration: none;
    color:inherit;
}

.data-block {
    display: flex;
    justify-content: space-between;
}

.container-0 {
    width: 100%;
}

.header-3 {
    color: #000000;
    margin: 0 0 5px 0;
    font-size: 20px;
}


.header-1 {
    color: #000000;
    margin: 20px 0 25px 0;
    font-size: 30px;
}

.container-1 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}

.container-2 {
    display: flex;
    flex-direction: column;
}

.container-2.left {
    width: 30%
}

.container-2.right {
    width: 70%
}

.container-3 {
    display: flex;
    flex-direction: column;
}

.mt {
    margin-top: 150px;
}

.datum {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.written {
    border-top: 1px solid black;
    width: 250px;
}

.header-underline {
    height: 1px;
    background: #000000;
    width: 255px;
}